<% include ./partials/header %>
    
    <body class="det-bod">
        
        <div class="container-det">
        <div class="title-det toCenter"> <h1> <%= movieData["Title"] %> </h1></div>
        
        
        <div class="innerCont">
            
            <div class="genre toCenter">
                <ul>
                    <li><strong>Genre:</strong> <%= movieData["Genre"] %> </li><br>
                    <li><strong>Rating:</strong> <%= movieData["Rated"] %> </li><br>
                    <li><strong>Runtime:</strong> <%= movieData["Runtime"] %> </li><br>
                    <li><strong>Year:</strong> <%= movieData["Year"] %> </li><br>
                    <li><strong>Language:</strong> <%= movieData["Language"] %> </li><br>
                </ul>
            </div>
          
            <div class="image toCenter"> <img class="img-det" src="<%=movieData["Poster"]%>" onerror="this.src='http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg'" alt="" width="500" height="500">
            </div>
            
            <div class="rating toCenter">
                <ul>
                    
                    <li><strong>IMDB:</strong> <%= movieData["Ratings"][0] ? movieData["Ratings"][0]["Value"] : "N/A" %>  </li> <br> 
                    <!--^added in the ternary operator to fix error^-->
                      
                    
                        <li><strong>META:</strong> <%= movieData["Metascore"] %></li><br>
                
                </ul>
            </div>
        </div>
        
        <div class="plot">
            <p> <%= movieData["Plot"] %> </p>

        </div>    

    </div>    
        
        
 </body>
 
<% include ./partials/footer %>
