<!DOCTYPE html>
<html>
    <head>
        <title> Movie List </title>
        <link rel="stylesheet" href="/results.css"> <!--Typing in the correct path is very imortant. The "/" makes sure express does not look in the same directory -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    </head>
    
    <body>
        
<h2> Results for: <%= query %>... </h2> <!-- How do i get the search result the user requested to display here-->

    <% if (typeof data["Search"] !== "undefined") { %>
        <% data["Search"].forEach(function(movie) { %>
        
        
    <div class="container">
        <div class="image"> <img src="<%=movie["Poster"]%>" onerror="this.src='http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg'" alt="" width="500" height="500"> </div>

        <div class="title"> <strong><%= movie["Title"] %></strong> - <%= movie["Year"] %>

            <div class="type"> <% if (movie["Type"] == "movie") { %>
               <i class="fa fa-film" aria-hidden="true"> Movie </i>
                
            <% } else { %>
            <i class="fa fa-television" aria-hidden="true"> Series </i>
            <% }; %>
            
        </div>

        </div>

        <div class="button"> <a class="btn btn-info btn-large" href="/details/<%= movie["imdbID"] %>"> More Details </a> </div>
        
    </div>
        
        
        
        
        <% }); %>

    <% } else { %>
        <h3> I cant seem to find that movie. Please try another title!</h3>
    <% } %>

<div class="searchAgain"> <a class="btn btn-danger btn-large" href="/"> Search Again </a> </div>