<% include ./partials/header %>
<body class="result-bod">
<h2 class="toCenter heading2"> Results for: <%= query %> </h2> <!-- How do i get the search result the user requested to display here-->

    <% if (typeof data["Search"] !== "undefined") { %>
        <% data["Search"].forEach(function(movie) { %>
        
        
    <div class="container-result">
        <div class="image"> <img class="img-result" src="<%=movie["Poster"]%>" onerror="this.src='http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg'" alt="" width="500" height="500"> </div>

        <div class="title-result"> <strong><%= movie["Title"] %></strong> - <%= movie["Year"] %>

        <div class="type"> 
            <% if (movie["Type"] == "movie") { %>
              
               <i class="fa fa-film" aria-hidden="true"> Movie </i>
                
            <% } else if (movie["Type"] == "series") { %>
            
            <i class="fas fa-tv"> Series </i> 
            
            <% } else if (movie["Type"] == "game") { %>
            
            <i class="fas fa-gamepad"> Game </i>
            
            
            
            
            <% } else { %>
            
            <i class="" aria-hidden="true"> ¯\_(ツ)_/¯ </i>
            
            <% }; %>
        </div>

        </div>

        <div class="button-result"> <a class="btn btn-info btn-large" href="/details/<%= movie["imdbID"] %>"> More Details </a> </div>
        
    </div>
        
        
        
        
        <% }); %>

    <% } else { %>
        <h3 class="heading3"> We cant seem to find that movie. Please try another title!</h3>
    <% } %>

<div class="searchAgain toCenter"> <a class="btn btn-danger btn-large" href="/"> Search Again </a> </div>


</body>

<% include ./partials/footer %>